<!DOCTYPE html>
<html>
<head>
    <title>I Love Dogs</title>
    <link rel="stylesheet" href="style.css">
    
<style>
        @import url('https://fonts.googleapis.com/css?family=Pangolin');
        
html, body {
    margin:0;
    padding:0;
    height:100%;
    font-family:'Pangolin';
}

.home-page {
  background:url("http://www.dogwallpapers.net/wallpapers/cute-rottweiler-dog-photo.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align:center;
  font-family: 'Pangolin', cursive;
  height:100%;

}

.home-tagline {
    color:#313990;
    font-size:25px;
} 

.page1-h1 {
    padding-top:25%;
    margin: 0;
    font-size: 5vmax;
    color:#0A1056;
}

button {
    font-family: 'Pangolin', cursive;
    color:black;
    border:3px solid black;
    background:transparent;
    padding:5px 5px 5px 5px;
    font-size:15px;
}

.page-2 {
    height:100%;
    background:url("http://www.cutestpaw.com/wp-content/uploads/2013/10/Cat-Dog-Cute-Animal-Background-HD-Wallpaper.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

.page2-text {
    padding-right:10%;
    padding-left:10%;
    padding-top:22%;
    color:#33355A;
    font-size:40px;
}

.pic-table {
    padding:5%;
    margin: 0;
}
.pic {
    height: 25vmax;
    width: 25vmax;
    display: inline-block;
    margin: 1%;
}

    #p1 {
        background: url(http://www.dogster.com/wp-content/uploads/2015/11/SneakersSocialDog.png)no-repeat center center;
        background-size: cover;
    }
    #p2 {
        background: url(http://i1294.photobucket.com/albums/b616/TheMarti/PWB%20PEEPS/August%202016/19%20August/dog%20and%20turtle_zps4xqgyo7a.jpg)no-repeat center center;
        background-size: cover;
    }
    #p3 {
        background: url(http://i1280.photobucket.com/albums/a493/kyeek/DSC_0545_zpspjzxvyeu.jpg)no-repeat center center;
        background-size: cover;
    }
    #p4 {
        background: url(http://cdn1-www.dogtime.com/assets/uploads/gallery/pit-bull-dog-breed-pictures/pit-bull-dog-breed-picture-10.jpg)no-repeat center center;
        background-size: cover;
    }
    #p5 {
        background: url(https://upload.wikimedia.org/wikipedia/commons/6/64/The_Puppy.jpg)no-repeat center center;
        background-size: cover;
    }
    #p6 {
        background: url(https://d2pu2bk1b66iw6.cloudfront.net/photos/2015/02/24/6-94260-dog-jif-jar-1424816146.jpg)no-repeat center center;
        background-size: cover;
    }
    
.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}
</style>

</head>
<body>

<div class="home-page"> 

    <h1 class="page1-h1 hvr-bounce-in">I Love Dogs</h1>

    <h3 class="home-tagline">"I just really love dogs."</h3>

    <button>Click</button>
    
</div>

<div class="page-2">
        <p class ="page2-text hvr-bounce-in">How can you not love dogs? They're wiggly, soft, and friendly. All they want is a walk and a pat on the head. They can be anything from your loyal best friend to your guard to your hunting partner. They will love you no matter what stupid mistakes you make and they're excited to see you no matter what. All in all, dogs are the best things ever.</p>
    <marquee direction="right" scrollamount="30">
    <img src="http://vignette2.wikia.nocookie.net/animal-jam-clans-1/images/6/60/CUTEES.gif/revision/latest?cb=20161215221807">
    </marquee>
    </div>

<div class="page-3">
    <div class="pic-table">
        <a href="https://www.lacity.org/" target="_blank">
            <div class="pic hvr-bounce-in" id="p1"></div>
        </a>
        <a href="https://www.lacity.org/" target="_blank">
            <div class="pic hvr-bounce-in" id="p2"></div>
        </a>
        <a href="https://www.lacity.org/" target="_blank">
            <div class="pic hvr-bounce-in" id="p3"></div>
        </a>
        <br>
        <a href="https://www.lacity.org/" target="_blank">
            <div class="pic hvr-bounce-in" id="p4"></div>
        </a>
        <a href="https://www.lacity.org/" target="_blank">
            <div class="pic hvr-bounce-in" id="p5"></div>
        </a>
        <a href="https://www.lacity.org/" target="_blank">
        <div class="pic hvr-bounce-in" id="p6"></div>
        </a>
    </div>


</body>
</html>
